<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>DemoChatApp</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <header>
      <div class="chat-header">
        <h1 id="chat-header-text">Demo Chat Application w/ vue & express/socket.io</h1>
      </div>
    </header>
    <div id="app">
      <div class="chatbox">
        <div class="row user-count">
          <div class="col-md-12">
            <h3> {{ usersCount }} </h3>
          </div>
        </div>
        <div class="row" v-if="loginMessage">
          <div class="col-md-12">
              <h2> {{ loginMessage }} </h2>
          </div>
        </div>
        <div class="message-box" v-for="message in messages">
            <div class="row">
                <div class="col-md-6">
                    <h3>{{ message.username }}</h3>
                </div>
                <div class="col-md-6">
                    <h3>{{ message.message }}</h3>
                </div>
            </div>
        </div>
        <div class="row message-row" v-if="connected">
            <div class="col-xs-10 col-md-10">
                <input class="form-control" id="message" v-model="message" />
            </div>
            <div class="col-xs-2 col-md-2">
                <button class="btn btn-info" v-on:click="send">send</button>
            </div>
        </div>
        <div v-else="connected">
          <h1>Give a nickname to chat</h1>
          <div class="row">
            <div class="col-md-4 col-md-offset-4">
              <input class="form-control" id="nickname" v-model="nickname" />
            </div>
          </div>
           <h1>Your nickname is: {{ nickname }} </h1>
          <button class="btn btn-info" v-on:click="connect">submit</button>
        </div>
      </div>
    </div>

    <!-- Vue instantiated directly to html due to Socket.io -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script>
      let socket = io()

      let isConnected = false

      new Vue({
        el: '#app',

        data: {
          messages: [],
          message: null,
          connected: false,
          nickname: '',
          loginMessage: '',
          usersCount: '',
          typing: '',
        },

        mounted: function () {
          const that = this

          socket.on('message', (payload) => {
            that.messages.push(payload)
          })

          // Whenever the server emits 'login', log the login message
          socket.on('login', function(payload) {
            this.nickname = payload.nickname
            // Display the welcome message
            let message = "Welcome to Demo chat app!"
            that.loginMessage = message
            that.usersCount = 'Users online: ' + payload.numUsers
          })

          // Whenever the server emits 'user joined', log it in the chat body
          socket.on('user joined', function(payload) {
            that.usersCount = 'Users online: ' + payload.numUsers
          })

          // Whenever the server emits 'user left', log it in the chat body
          socket.on('user left', function(payload) {
            that.usersCount = 'Users online: ' + payload.numUsers
            that.message = null
          })

          socket.on('disconnect', () => {
            console.log('you have disconnected')
          })

          socket.on('reconnect', function() {
            console.log('You have reconnected')
            if (this.nickname) {
              socket.emit('add user', that.nickname)
            }
          })

          socket.on('reconnect_error', () => {
            console.log('attempt to reconnect has failed')
          })

          socket.on('typing', () => {
            socket.emit('typing')
          })

        },

        methods: {
          send: function(e) {
            socket.emit('message', this.message)
            this.message = null
          },
          connect: function(e) {
            this.connected = true
            socket.emit('add user', this.nickname)
          },
          typing: () => {
            socket.emit('typing')
          }
        }
      })
    </script>
  </body>
</html>
