#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  padding-top: 80px;
}

.chat-header {
  background-color: #2a2a62;
  padding: 0 16px;
  z-index: 1000;
  margin-bottom: 0;
  min-height: 40px;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 0;
  padding-bottom: ;
}

#chat-header-text {
  color:white;
  text-align: center;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

.chatbox {
  padding-top: 60px;
}

.btn-info {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

.message-row {
  position: fixed;
  bottom: 0;
  padding: 10px;
  width: 100%;
}
